@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    background: white no-repeat url(../img/bg.jpg);
    background-size: 100vw 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 50px;
    right: 175px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#board {
    background: linear-gradient(black, white);
    border: 2px solid black;
    width: 90vmin;
    height: 92vmin;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food {
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}